<form (submit)="addTodo($event)">
  <input type="text"
         name="value"
         [(ngModel)]="value"
         placeholder="Enter task..."/>
  <button>Add task</button>
</form>
<ul>
  <li *ngFor="let item of lists; let index=index">
       <span style="text-decoration: line-through"
             *ngIf="item.isDone === true, else notDone">
            {{ item.text }}
       </span>
    <ng-template #notDone>
      <span>{{ item.text }}</span>
    </ng-template>
    <button (click)="doneTodo(index)">v</button>
    <button (click)="removeTodo(index)">x</button>
  </li>
</ul>
